@config "../../tailwind.config.ts";
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --ui-scale: 1.1;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-general-sans), ui-sans-serif, system-ui;
}

html {
  font-size: calc(min(100vw, 1920px) / 192 * var(--ui-scale));
}

.design-scale {
  --scale: 1;
  height: calc(108rem * var(--scale));
  width: calc(192rem * var(--scale));
}

.design-frame {
  height: 108rem;
  position: relative;
  transform: scale(var(--scale));
  transform-origin: top left;
  width: 192rem;
}
