@config "../../tailwind.config.ts";
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --ui-scale: 1.0;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-general-sans), ui-sans-serif, system-ui;
  -webkit-user-select: none;
  user-select: none;
}

.hero-scale {
  --hero-scale: calc(min(100vw, 1920px) / 3072 * var(--ui-scale));
  height: calc(108rem * var(--hero-scale));
  margin: 0 auto;
  position: relative;
  width: calc(192rem * var(--hero-scale));
}

.hero-frame {
  height: 108rem;
  position: relative;
  transform: scale(var(--hero-scale));
  transform-origin: top left;
  width: 192rem;
}
